<div class="h-screen flex flex-col p-10">

	<div class="flex flex-row gap-2 mb-10">
		<input [(ngModel)]="searchTerm" class="rounded-sm px-2 bg-stone-500 text-white outline-none font-mono" type="text" placeholder="Type here ..." />
		<div (click)="search()" class="uppercase bg-stone-600 hover:bg-stone-800 font-mono font-bold text-xl p-2 cursor-pointer select-none shadow-2xl rounded-sm text-white px-3">
			Search
		</div>
	</div>

	<app-loader *ngIf="isLoading"></app-loader>

	<div class="grid grid-cols-5 gap-5">
		<ng-template appGrid></ng-template>
	</div>
	<div class="flex flex-row select-none mt-10 gap-2">
		<button (click)="turnPage(-1)" class="bg-stone-600 p-5 text-white text-lg rounded-sm cursor-pointer hover:bg-stone-500 disabled:bg-stone-800" [disabled]="people.previous == null">
			Previous
		</button>
		<div class="bg-stone-700 text-white font-mono text-xl p-5 rounded-sm">
			{{ people.count }} / {{ currentPage * 10 + 1 }} - {{ pageSize }}
		</div>
		<button (click)="turnPage(1)" class="bg-stone-600 p-5 text-white text-lg rounded-sm cursor-pointer hover:bg-stone-500 disabled:bg-stone-800" [disabled]="people.next == null">
			Next
		</button>
	</div>
</div>
